*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#dfb35a,#464f4f);
    overflow-x: hidden;
}

/* البوكس الرئيسي */
.form{
    background-color:#fff; /* اللون الأبيض للبوكس */
    padding:20px; /* مساحة داخلية أكبر */
    border-radius:16px;
    box-shadow:0 20px 40px rgba(0,0,0,0.3); /* الظل */
    max-width:800px;
    width:90%;

}

/* الحاوية للصورة + الفورم */
.container{
    display:flex;
    gap:40px;
    align-items:center;
    flex-direction: row-reverse; /* يضع الصورة على اليمين والفورم على اليسار */

}

/* الجزء الأيسر: الصورة والنص */
.left{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    text-align: right;
}

.left img{
    width:120px;
    height:auto;
    margin-bottom:20px;
}

.left h2{
    color:#007BFF;
    margin-bottom:10px;
}

.left p{
    color:#555;
    font-size:14px;
}

/* الجزء الأيمن: الفورم */
.right{
    flex:1;
    min-width:0;
}

.password{
    position: relative;
    margin-bottom:20px;
}

.password input{
    width:100%;
    padding:12px;
    font-size:16px;
    border-radius:8px;
    border:2px solid #ccc;
    transition:0.3s;
}

/* تأثير valid/invalid أثناء التركيز */
.password input:focus:valid{
    border-color:green;
}

.password input:focus:invalid{
    border-color:firebrick;
}

/* زر حفظ */
button{
    width:100%;
    padding:12px;
    background-color:#667eea;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
    margin-top:10px;
}
button:hover{
    transform:translateY(-2px);
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}


.back{
    display:inline-block;
    margin-top:20px;
    color:#007BFF;
    text-decoration:none;
    font-weight:bold;
}



@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
        text-align: center;
    }

    .left{
        align-items: center;
    }

    .left img{
        margin-left: 0;
    }
}