*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: sans-serif;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#dfb35a,#464f4f);
    padding:20px;
     overflow-x: hidden;
}

/* البوكس الرئيسي */
.form{
    background-color:#fff;
    padding:10px;
    border-radius:16px;
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
    max-width:900px;
    width:90%;
}

/* الحاوية للصورة + الفورم */
.container{
    display:flex;
    gap:20px; /* المسافة بين الصورة والفورم */
    align-items:center;
    
}

/* الصورة + المحتوى على اليسار */
.left{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    min-width:0px;
  
}

.left img{
    max-width:120px ;
    height:auto;
    margin-bottom:20px;
    margin-left: 25px;

}

.left h2{
    color:#007BFF;
    margin-bottom:10px;
}

.left p{
    color:#555;
    font-size:14px;
}

/* الفورم على اليمين ملاصق للصورة */
.right{
    flex:1;
    min-width:0px;
    
}

.otp{
    display:flex;
    gap:12px;
    margin-bottom:20px;
    justify-content:flex-start;
}

.otp input{
    width:30px;
    height:30px;
    text-align:center;
    font-size: 9px;
    border-radius:8px;
    border:2px solid #ccc;
    transition:0.3s;
}

.otp input:focus{
    border-color:#667eea;
    outline:none;
}

button{
    width:100%;
    padding:12px;
    background-color:#667eea;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
    margin-top:10px;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}


.resend{
    margin-top:20px;
    color:#555;
}

.timer{
    font-weight: bold;          /* يجعل الرقم عريض */
    animation: pulse 1.5s infinite; /* يشغّل حركة pulse كل ثانية بشكل مستمر */
}

/* تعريف الحركة */
@keyframes pulse{
    0% {opacity:0.1;}     /* البداية: الرقم ظاهر بالكامل */
    50% {opacity:0.4;}  /* منتصف الثانية: الرقم شبه شفاف */
    100% {opacity:0.8;}    /* نهاية الثانية: الرقم يعود للظهور الكامل */
}


@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
        text-align: center;
    }

    .left{
        align-items: center;
    }

    .left img{
        margin-left: 0;
    }
}
