<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forgot Password</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
</head>

<body>

<div class="from-card">

    <div class="containar">

        <div class="left">

            <img src="{{ url_for('static', filename='images/imag.jpg') }}" alt="">

            <h2>Forgot Password</h2>

            <p>Enter your email to reset password</p>

        </div>


        <div class="right">

            <form method="POST" action="{{ url_for('auth.forgot_password') }}">

                <input 
                    type="email"
                    name="email"
                    placeholder="Email"
                    required>

                <button type="submit">
                    Send Email
                </button>

            </form>

            <a href="{{ url_for('auth.login') }}" class="back">
                Back To Login
            </a>

        </div>

    </div>

</div>


</body>
</html>